%h1= @document.original_name

%dl
  %dt Key
  %dd= @document.key

  %dt Started at
  %dd= @document.list.started_at

%div#base
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.

%script(src="/javascripts/clicksign.js" type="text/javascript")

:coffee
  callback = (event) ->
    alert "Callback called with: \#{event.data}"

  clicksign.configure
    base: "base"
    email: "#{@email}"
    key: "#{@document.key}"
    protocol: "#{settings.protocol}"
    host: "#{settings.widget_host}"
    callback: callback
