%h1= @document.original_name

%dl
  %dt Key
  %dd= @document.key

  %dt Started at
  %dd= @document.list.started_at

%div
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.

%div#container

%div
  Suspendisse libero purus, fringilla et laoreet eget, varius vitae nisi.

%script(src="/javascripts/clicksign.js" type="text/javascript")

:coffee
  callback = (event) ->
    alert "Callback called with: \#{event.data}"

  clicksign.configure
    container: "container"
    key: "#{@document.key}"
    protocol: "#{settings.protocol}"
    host: "#{settings.widget_host}"
    signer:
      email: "#{@email}"
      display_name: "John Doe"
      documentation: "01234567890"
    callback: callback
